<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <h2>Reset Password</h2>
    <form method="POST">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="alert alert-success">
          {% for category, message in messages %}
            <p class="{{ category }}">{{ message }}</p>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      
      {% if message %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endif %}
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
    </div>        
  <button type="submit" class="btn btn-primary">Send link</button>
</form>

    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>
